# version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: forinda-org/web:latest
    restart: unless-stopped
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
      - PORT=3000
    ports:
      - "3000:3000"
    depends_on: []
    networks:
      - web

networks:
  web:
    driver: bridge
